<footer>
    <ul>
        <li><a href="/footer/about">O nas</a></li>
        <li><a href="/footer/terms">Regulamin</a></li>
        <li><a href="/footer/privacy">Polityka Prywatności</a></li>
        <li><a href="/footer/contact">Kontakt</a></li>
    </ul>

    <div class="footer-github">
        <p>Projekt znajduje się na:</p>
        <a href="https://github.com/JakubWarsinski/chatweb" target="_blank" title="GitHub" class="fotter-icons"><i class="fab fa-github"></i> GitHub</a>
    </div>

    <p class="footer-license">© 2025 ChatWeb. Wszelkie prawa zastrzeżone.</p>
</footer>