body {
    background: url('/partials/images/background.svg') repeat;
    background-size: 6%; 
    color: #fdfff8ff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #121212ff;
}

section {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 10px 0;
}

.error {
    width: 250px;
    white-space: wrap;
    color: red;
}

h1 {
    border-radius: 10px 0 10px 0;
    width: 100%;
    background-color: #60c500ff;
    color: white;
    font-size: 1.4em;
    padding: 0.5em;
}

form {
    padding: 1.5em 3em;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

label {
    text-align: left;
    font-size: 0.9em;
}

input {
    font-size: 0.9em;
    padding: 0.6em;
    border: none;
    outline: none;
    border: 2px solid rgba(18, 18, 18, 0.418);
    border-radius: 10px 0 10px 0;
    background-color: none;
    transition: border 0.2s ease-in-out;
}

input:focus {
    border: 2px solid #a4ff00ff;
}

button {
    display: block;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #60c500ff;
    font-weight: bold;
    color: #fdfff8ff;
    border: none;
    border-radius: 10px 0 10px 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #a4ff00ff;
}

p {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

p a {
    display: block;
    font-weight: bold;
    color: #60c500ff;
    transition: color 0.2s ease-in-out, transform 0.2s ease;
}

p a:hover {
    transform: scale(1.05);
    color: #a4ff00ff;
}

@media (max-width: 600px) {
    section {
        width: 80%;
    }

    form {
        width: 100%;
        gap: 2em;
    }

    input {
        border-radius: 0;
    }

    button {
        border-radius: 0;
    }

    .form-div {
        width: 100%;
    }
}