<%- include('../../partials/views/html', {
    title : 'Logowanie',
    styles : [ 'user/css/login.css', 'partials/css/home-header.css', 'partials/css/home-footer.css' ],
});%>

<body>
    <%- include('../../partials/views/home-header');%>

    <main>
        <section>
            <h1>Zaloguj się</h1>

            <form action="/user" method="POST">
                <% if (typeof error !== "undefined" && error ) { %>
                    <p class="error"><%= error %></p>
                <% } %>

                <div class="form-div">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="E-mail użytkownika..." required>
                </div>

                <div class="form-div">
                    <label for="password">Hasło:</label>
                    <input type="password" id="password" name="password" placeholder="Hasło użytkownika..." required>
                </div>

                <button type="submit">Zaloguj</button>

                <p>Nie masz jeszcze konta? <a href="/user/new">Zarejestruj się</a></p>

                <p>Zapomniałeś hasła? <a href="/user/forgot">Zresetuj je</a></p>
            </form>
        </section>
    </main>

    <%- include('../../partials/views/home-footer');%>
</body>
</html>